body{
  font-family: "Open Sans", Arial;
  color: #454545;
  background-color: #fffdea;
  font-size: 18px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}
h1{
  line-height: 1.2;
  margin-bottom: 0;
}
h2,h3{
  line-height: 1.2;
}
header aside {
  padding-top: 0.3em;
  font-size: 130%;
  margin-left: 10%;
  text-align: left;
  color: #556585;
  font-weight: bold;
  font-style: italic;
}
.title .feed img {
  padding-top: 0.5em;
  padding-right: 0.3em;
  float: left;
  height: 1.3em;
  line-height: 1.2;
}
.navigation .feed img {
  padding-right: 0.3em;
  vertical-align: middle;
  height: 1.5em;
}
.navigation {
  text-align: center;
  line-height: 2.5;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  background-color: #d7f0ff;
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: calc(50vh);
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: calc(50vh);
}
img.icon {
  vertical-align: middle;
  padding-right: 0.5em;
  width: 10%;
  transition: width 2s;
  transition-delay: 0.25s;
}
img.icon:hover {
  width: 50%;
}
.license-text {
  padding: 1em;
  margin: 0;
  background-color: #efedda;
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}
q {
  font-family: monospace;
}
